.ta-toolbar {
    margin-bottom: 5px;
}
.ta-toolbar .btn {
    font-size: 12px;
    padding: 5px 8px;
}
.b-files-list {

}
.b-files-list__item {
    border-bottom: 1px dashed #ddd;
    padding-bottom: 2px;
}
.b-files-list__item-image {
    width: 20px;
    height: 20px;
    float: left;
}
.b-files-list__item-text {
    margin-left: 20px;
}
