<div class="container" ui-view>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Материалы для сотрудников</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> Администратор</a>
                        </li>
                        <li class="divider"></li>
                        <li><a ui-sref="admin.reset"><i class="fa fa-sign-out fa-fw"></i> Выход</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav in" menu>
                        <li>
                            <a ui-sref="admin.material.list" data-section="admin.material">
                                <i class="fa fa-file fa-fw"></i> Материалы
                            </a>
                        </li>
                        <li>
                            <a ui-sref="admin.user.list" data-section="admin.user">
                                <i class="fa fa-users fa-fw"></i> Пользователи
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" style="min-height: 385px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{title}}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row" ui-view="content">
            </div>
            <!-- /.row -->
        </div>
    </div>
</div>
